{% extends "letsmeet/base/base.html" %}

{% load static %}

{% block title %}You Registered Successfully{% endblock title %}

{% block site_css %}
<link rel="stylesheet" href="{% static "letsmeet/styles/registration-confirmation.css" %}">
{% endblock site_css %}

{% block main_heading %}
    Thanks for signing up!
{% endblock main_heading %}

{% block body %}
<section id="confirmation">
    <h2>
        You Registered Successfully
    </h2>
    <p> Thanks for signing up, see you at the meetup </p>
    <p> If you have any questions or cannot make it, please <a href="emailto:{{ organizer_email }}"> contact the organizer </a>ahead of time </p>
</section>

<section>
    <p>Of course you can sign up for more than one meetup!</p>
    <p><a href="/meetups" class="btn"> Explore our Meetups</a></p>
</section>
{% endblock body %}

