{% load static %}
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "letsmeet/styles/base.css" %}">
        {% block site_css %}{% endblock site_css %}
        <title>{% block title %}My Meetups{% endblock title %}</title>
    </head>
    <body>
        <header id="main-header">
            <nav><a href="/letsmeet" id="main-logo">LetsMeet</a></nav>
            <h1>{% block main_heading %}{% endblock main_heading %}</h1>
            <p>{% block header_content %}{% endblock header_content %}</p>
        </header>
        <main>
            {% block body %}{% endblock body %}
            
        </main>
    </body>
</html>